.notFound {
	width: 40%;
	position: fixed;
	margin: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	top: 45vh;
	left: 50%;
	transform: translate(-50%, -50%);
}

.notFoundHeading {
	font-family: Iceberg, serif;
	font-size: 5rem;
	font-weight: 900;
	font-style: italic;
	margin-bottom: 1rem;
	border-bottom: green 2px solid;
}

.notFoundContent {
	font-family: Khand, serif;
	font-size: 2rem;
	color: orange;
}

@media screen and (max-width: 1024px) {
	.notFound {
		width: 70%;
	}

	.notFoundHeading {
		font-size: 3.75rem;
	}

	.notFoundContent {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 768px) {
	.notFound {
		margin-left: 0;
	}
}

@media screen and (max-width: 425px) {
	.notFoundHeading {
		font-size: 3rem;
	}

	.notFoundContent {
		font-size: 1.25rem;
	}
}
