.pagination {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.paginationButton {
	font-family: Langar, serif;
	color: #1e2127;
	background: #ffffff;
	border: none;
	border-radius: 0.2rem;
	padding: 10px 15px;
	margin: 0 5px;
	cursor: pointer;
}

.paginationButton.active {
	background-color: #ffc700;
}

.paginationButton:hover {
	opacity: 75%;
}

@media screen and (max-width: 1024px) {
}
